<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="1.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row" style="background-image: linear-gradient(pink, white);">
            <h1>Dnevnik čitanja</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <%if(knjige != null){%>
                <%for(let i = 0; i < knjige.length; i++){%>
                <table>
                    <tr>
                        <td>Naslov</td>
                        <td><b><%=knjige[i].title%></b></td>
                    </tr>
                    <tr>
                        <td>Pisac</td>
                        <td><b><%=knjige[i].author%></b></td>
                    </tr>
                    <tr>
                        <td>Godina izdavanja</td>
                        <td><b><%=knjige[i].year%></b></td>
                    </tr>
                    <tr>
                        <td>Broj strana</td>
                        <td><b><%=knjige[i].pages%></b></td>
                    </tr>
                    <tr>
                        <td>Procitano</td>
                        <%if(knjige[i].read){%>
                        <td><b>da</b></td>
                        <%}else{%>
                        <td><b>ne</b></td>
                        <%}%>
                    </tr>
                    <tr>
                        <td>Link</td>
                        <td><form method="GET" action="/knjiga"><input type="text" hidden name="id" id="id" value="<%=knjige[i]._id%>"><input type="submit" class = "btn-success" value="informacije"></form></td>
                    </tr>
                </table><br>
                <%}%>
                <%}%>
            </div>
            <div class="col-6">
                <h2>Unesi novu knjigu</h2>
                <form method="POST" action="/novaKnjiga">
                    <label for="title">Naslov</label><br>
                    <input type="text" name="title" id="title"><br>
                    <label for="author">Pisac</label><br>
                    <input type="text" name="author" id="author"><br>
                    <label for="year">Godina izdavanja</label><br>
                    <input type="text" name="year" id="year"><br>
                    <label for="pages">Broj strana</label><br>
                    <input type="text" name="pages" id="pages"><br>
                    <input type="submit" class="btn-primary" value="Unesi Knjigu">
                </form>
            </div>
        </div>
    </div>
</body>
</html>